
.TodayDetail {
    width: 50%;
    margin: 0 auto;
  }

  .forecast {
    width: 100%;
    margin: 0 auto;
  }

 /* Style the video: 100% width and height to cover the entire window */
 #weatherback {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  /* Add some content at the bottom of the video/page */
  .maincontent {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: auto;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
  }

  td{
    padding:3px;
  }

  tr{
    text-align: center;
    font-size: 15px;
  }

  .navbar {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
  }

  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.8)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .custom-toggler.navbar-toggler {
    border-color: rgba(255,255,255,0.8);
  }

/* styling for map.html */

/* Set the size of the div element that contains the map */
#map {
  min-height: 300px;
  height: 75%;
  width: 100%;
}

.display{
  font-family:  "Courier New", Garamond;
  text-align: center;
  margin-top: 5px;
  font-size: 200%;
  font-weight: bold;
}

#TodayTemp{
  font-size: 200%;
  font-weight: bold;

}

.topicFont {
  font-family:  "Courier New", Garamond;
}

hr{
  background-color: rgba(255,255,255,0.6);
}


p,h5{
  text-align: center;
  font-family:  "Courier New", Garamond;
}

.card-body{
  background-color: rgba(245, 245, 245, 0.0);
}


#windDirection{
  transform: rotate(-45deg);
}

#radarMap{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 75%;
}