@media screen  (min-width: 390px) and (max-width: 480px) {
    body {
      background-color:red;
    }
  }
  @media screen and (max-width: 390px) {
    body {
      background-color: lightyellow;
    }
  }
  
table caption {
    font-size: 4em;
}