body{
    background-image: url('https://imgur.dcard.tw/GTBK3NRh.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
     background-size: cover;  
}

table {
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 2em;
}

table td,
table th {
    border: 1px solid #000000;
    text-align: center;
}

table th {
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table caption {
        font-size: 1.5em;
    }

    /* Hide table header. */
    table thead {
        display:none
    }

    /* Force table to not be like tables. */
    table tr {
        display: block;
        margin-bottom: 1em;
    }

    /* Behave like a "row" */
    table td {
        display: block;
        text-align: right;
        border-bottom: 0px;
    }

    /* Behave like a table header */
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
        border: 1px solid #000000;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}
